.top-bar, .bottom-bar {
    border: 1px solid #fff;
}

.chat {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.chat-body {
    border: 1px solid #fff;
    height: calc(100vh - 310px);
    overflow: hidden;
    overflow-y: auto;
}

button.back {
    display: none;
}

@media (max-width: 650px) {
    button.back {
        display: inline;
        cursor: pointer;
        background: inherit;
        margin-right: 10px;
    }
}

input.message {
    background: inherit;
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-left: 10px;
}

button.send {
    cursor: pointer;
    font-size: 1.1rem;
    background: rgb(19, 2, 29);
    padding: 8px 15px 5px 20px;
    margin-right: 10px;
    border-radius: 20px;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar {
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    display: flex;
}