.chat {
    height: 95%;
    display: grid;
    grid-template-rows: 12% 75% 13%;
    background: #191a1c;
    overflow: hidden;
}

.top-bar, .bottom-bar {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
}

.top-bar {
    justify-content: space-between;
    overflow: hidden;
}

.top-bar .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

.chat-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1em;
}
  
.chat-info {
    font-size: 0.85em;
    color: #888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reveal-search-button, .more-button {
    margin: 0 10px 0 0;
    font-size: 150%;
    cursor: pointer;
}

.search-chat-button {
    /* margin: 0 30px 0 0; */
    /* margin-right: 20px;
    margin-top: 22px; */
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
}

.search-chat-form {
    display: flex;
    border-bottom: 0px solid #ccc;
    padding: 10px 10px;
    align-items: center;
}

.search-chat-input {
    padding: 10px;
    width: 100%;
    background: var(--dark-gray-2);
    border-radius: 15px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    color: var(--primary-color);
    font-weight: 600;
    caret-color: var(--color-purple-light);
}

.close-search-button {
    background: inherit;
    font-size: 1.3rem;
    width: 10%;
    padding-top: 8px;
    margin-left: -30px;   
    cursor: pointer; 
}

.chat-body {
    border: 1px solid #fff;
    overflow-y: auto;
}

button.back {
    display: none;
}

@media (max-width: 650px) {
    button.back {
        display: flex;
        cursor: pointer;
        background: inherit;
        margin-left: 10px;
        font-size: 150%;
    }
}

input.message {
    padding: 10px;
    padding-left: 20px;
    background: var(--dark-gray-1);
    border-radius: 15px;
    color: var(--primary-color);
    font-weight: 600;
    background-position: right;
    caret-color: var(--color-purple-light);
}

button.send {
    font-size: 1.1rem;
    background: var(--primary-color);
    padding: 8px 15px 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.bottom-bar {
    display: grid;
    grid-template-columns: 12fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
}

.no-chosen-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
  
.welcome {
    font-size: 30px;
}

.welcome-info {
    font-size: 20px;
    margin-top: 5px;
}

.welcome-div {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.unlock {
    margin-right: 5px;
}