.navbar-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px 40px;
    max-width: 1400px;
    margin: auto;
}

.navbar-container h3 {
    font-size: 1.7rem;
    color: rgb(105, 98, 235);
    cursor: pointer;
}

.logout button {
    cursor: pointer;
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
}

.logout button:hover {
    background: var(--color-purple-light);
}

.navbar-right {
    display: flex;
    gap: 30px;
    align-items: center;
}