.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.contact:hover {
    background: #3d3d3d; 
}
  
.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.info {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
}
  
.name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
.last-message {
    font-size: 14px;
    color: #888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
.time {
    font-size: 12px;
    color: #888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}
  
.line {
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}