@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: 0;
  list-style: none;
  color: #fff;
  font-family: 'Poppins';
  outline: none;

}

body {
  height: 100vh;
  background: #131315;
}

:root {
  --primary-color:rgb(67, 58, 230);
  --color-purple-light: rgb(154, 146, 242);
  --color-error: #f53252; 
  --dark-gray-1: #343434;
  --dark-gray-2: #3c3c3c;
  --dark-gray-3: #4c4c4c;
}