.loading-container {
    height: calc(100vh - 400px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 700;
}